<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mocap_base_scene">
​
  <!-- robot arms -->
  <xacro:include filename="../../urdf/ur5e/ur_macro.xacro"/>
 
 
  <xacro:ur_robot
      prefix="c_bot_"
      joint_limits_parameters_file="../../config/joint_limits.yaml"
      physical_parameters_file="../../config/physical_parameters.yaml"
      visual_parameters_file="../../config/visual_parameters.yaml"
      kinematics_parameters_file="../../config/default_kinematics.yaml"/>
​
​
​
 
  <xacro:include filename="../../urdf/robotiq/robotiq_arg2f_coupling.urdf.xacro"/>
  <xacro:robotiq_arg2f_coupling prefix="c_bot_gripper_coupling_"
				parent="c_bot_flange">
    <origin xyz="0 0 0" rpy="${pi} 0 0"/>
  </xacro:robotiq_arg2f_coupling>
​


  <xacro:include filename="../../urdf/robotiq/robotiq_85_gripper.urdf.xacro"/>
  <xacro:robotiq_85_gripper prefix="c_bot_gripper_"
			parent="c_bot_gripper_coupling_flange_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_85_gripper>

</robot>
