<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mocap_base_scene">
​
  <!-- robot arms -->
  <xacro:include filename="../../urdf/ur5e/ur_macro.xacro"/>
 
 
  <xacro:ur_robot
      prefix="c_bot_"
      joint_limits_parameters_file="../../config/joint_limits.yaml"
      physical_parameters_file="../../config/physical_parameters.yaml"
      visual_parameters_file="../../config/visual_parameters.yaml"
      kinematics_parameters_file="../../config/default_kinematics.yaml"/>
​
​
​
 
  <xacro:include filename="../../urdf/robotiq/robotiq_arg2f_coupling.urdf.xacro"/>
  <xacro:robotiq_arg2f_coupling prefix="c_bot_gripper_coupling_"
				parent="c_bot_flange">
    <origin xyz="0 0 0" rpy="${pi} 0 0"/>
  </xacro:robotiq_arg2f_coupling>
​


  <xacro:include filename="../../urdf/robotiq/robotiq_85_gripper.urdf.xacro"/>
  <xacro:robotiq_85_gripper prefix="c_bot_gripper_"
			parent="c_bot_gripper_coupling_flange_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_85_gripper>


  <link name="pitcher">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.2"/>
      <inertia ixx="0.0094" ixy="0" ixz="0" iyy="0.0008" iyz="0" izz="0.0094"/>
    </inertial>
    <visual>
      <origin rpy="0 ${pi} 0" xyz="0.18 0 0.1"/>
      <geometry>
        <mesh filename="../../meshes/objects/pitcher1.obj" scale="0.03 0.03 0.03"/>
      </geometry>
      <material name="glass">
        <color rgba="0.1 0.1 0.1 0.15"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 ${pi} 0" xyz="0.18 0 0.1"/>
      <geometry>
        <mesh filename="../../meshes/objects/pitcher1.obj" scale="0.03 0.03 0.03"/>
      </geometry>
    </collision>
  </link>

  <joint name="hand_to_pitcher" type="fixed">
    <parent link="c_bot_gripper_coupling_flange_link"/>
    <child link="pitcher"/>
    <axis xyz="0 0 1"/>
  </joint>

</robot>
