<?xml version="1.0"?>
<robot name="table">
    <material name="green">
      <color rgba="0.0 0.5 0.4 1.0"/>
    </material>
    <link name="table_top">
        <visual>
            <material name="green"/>
            <origin xyz="0.0 0.0 0.725" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="1.6 1.6 0.01"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.725" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="1.6 1.6 0.01"/>
            </geometry>
        </collision>
    </link>
    
</robot>
