<?xml version="1.0"?>
<robot name="mouse_cavity">

  <link name="mouse_cavity_out">
    <visual>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../../meshes/objects/mouse_cavity_out.obj" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <link name="mouse_cavity_slot">
    <visual>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../../meshes/objects/mouse_cavity_slot.obj" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <joint name="j1" type="fixed">
    <parent link="mouse_cavity_out"/>
    <child link="mouse_cavity_slot"/>
  </joint>
  
</robot>

